*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color: black;
}
/*  */
.row {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 30px;
  font-family: monospace;
  font-size: 15px;
  word-spacing: 3px;
  letter-spacing: 3px;
}
/*  */
.t1 {
  padding-top: 20px;
  margin-left: 20px;
  display: inline;
}
.t2 {
  text-align: right;
  display: inline;
  padding: 20px;
}
.t3 {
  text-align: right;
  display: inline;
}
.float {
  float: right;
}
/*  */
.box5 {
  background-color: black;
  color: white;
}
.box5:visited {
  border: 50px solid yellow;
}
form {
  background-color: black;
}
/*  */
.list {
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: 60px;
  padding: 15px;
  margin: 0px;
  font-weight: bold;
}
a {
  display: inline-block;
  text-decoration: none;
  /* color: black; */
}
.list a:hover {
  color: yellow;
  background: black;
}
.trend{
  background-color: gainsboro;
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: monospace;
  text-align: center;
  font-weight: bolder;
  word-spacing: 10px;
  letter-spacing: 3px;
}
.none{
  color: yellow;
  background-color: yellow;
  width: 20px;
  height: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
.tr{
  font-size: 40px;
}
.new{
  word-spacing: 5px;
}
/*  */
.img{
 display: block;
}

.img8{
 height: 40rem;
 width: 30rem;
}

.imgs{
 height: 20rem;
 width: 20rem;
}

.imgg{
 display: flex;
}
.imgg-cont2{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}
.imgs:hover{
 background: yellow;
}